@media screen and (min-width: 1000px) {
  body {
    font-size: 1.9rem;
  }

  .hero {
    flex-direction: row-reverse;
    padding-bottom: 200px;
    background-image: url("../images/bg-curve-desktop.svg");
    text-align: start;
  }
  .hero article h1 {
    line-height: 160%;
    font-size: 3rem;
  }
  .hero-input {
    padding: 0;
    flex-direction: row;
  }
  .hero-input input {
    width: 50%;
    margin-right: 10px;
  }
  .hero-input button {
    width: 40%;
  }

  .description {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .description__figure {
    max-width: 500px;
    width: 30%;
  }
  .description-text {
    margin: 0;
    width: 100%;
    max-width: 1000px;
    text-align: start;
  }
  .description-text h2 {
    font-size: 3rem;
  }
  .description-card {
    margin: 0;
  }

  .register {
    display: flex;
    padding: 50px 3%;
  }
  .register article {
    max-width: 1000px;
    width: 50%;
    text-align: start;
  }
  .register article h4 {
    font-size: 3rem;
  }
  .register div {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 45%;
    padding-left: 5%;
  }
  .register div input {
    width: 100%;
  }
  .register div button {
    width: 40%;
  }

  footer .footer-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  footer .footer-content__info {
    margin-right: 3%;
    align-items: flex-start;
  }
  footer .footer-content__about-us {
    margin-right: 3%;
    align-items: flex-start;
  }
  footer .footer-content__contact-us {
    margin-right: 3%;
    align-items: flex-start;
  }
  footer .footer-content__social {
    margin-right: 3%;
    align-items: flex-start;
    margin-right: 0;
  }
}