html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: #3c9f8f 3px solid;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.3rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 10px;
}
header figure {
  height: 40%;
}
header figure img {
  height: 100%;
}
header nav a {
  text-decoration: none;
  margin-left: 5px;
  color: #070439;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 0 7%;
  text-align: center;
  padding-bottom: 100px;
  margin-top: 50px;
  background-image: url("../images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
}
.hero figure {
  width: 90vw;
}
.hero article h1 {
  font-size: 2.2rem;
  font-weight: 700;
}
.hero-input {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}
.hero-input input {
  height: 40px;
  color: #070439;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #070439;
  padding: 0 10px;
}
.hero-input .input-active {
  border: 1px solid red;
  color: red;
}
.hero-input button {
  background-color: #3065f8;
  color: #f6f6fe;
  border: none;
  height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  font-weight: 700;
}

.description {
  padding: 0 7%;
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 100px;
}
.description figure {
  width: 90vw;
}
.description-text p {
  color: #585989;
  text-align: start;
}
.description button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 4px;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #3c9f8f;
  background-color: #f6f6fe;
  color: #3c9f8f;
  margin-bottom: 50px;
}
.description button span {
  margin-left: 7px;
}
.description-card {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 9px 2px #0000001e;
  border-radius: 4px;
  text-align: start;
  padding: 5%;
  background-image: url("../images/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: 5% 8%;
}
.description-card__perfil {
  display: flex;
  align-items: center;
}
.description-card__perfil figure {
  width: 30px;
}
.description-card__perfil figure img {
  border-radius: 50%;
}
.description-card__perfil__name {
  margin-left: 10px;
}
.description-card__perfil__name h5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 3px;
}
.description-card__perfil__name h6 {
  margin: 0;
  font-weight: 400;
}

.register {
  background-color: #585989;
  color: #f6f6fe;
  text-align: center;
  padding: 50px 7%;
}
.register__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register__input input, .register__input button {
  height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 9px 2px #0000001e;
  margin-bottom: 10px;
  width: 90%;
}
.register__input input {
  padding-left: 10px;
  color: #070439;
}
.register__input .input-active {
  border: 1px solid red;
}
.register__input button {
  background-color: #3065f8;
  color: #f6f6fe;
}

footer {
  background-color: #070439;
  padding: 0 7%;
  padding-top: 50px;
}
footer .logo-container {
  display: flex;
  align-items: center;
  height: 100px;
}
footer .logo-container img {
  height: 60%;
}
footer .footer-content a {
  color: #f6f6fe;
}
footer .footer-content p {
  color: #f6f6fe;
}
footer .footer-content__info {
  margin-bottom: 50px;
}
footer .footer-content__info--phone {
  display: flex;
  margin-top: 20px;
}
footer .footer-content__info--phone p {
  margin: 0;
  margin-left: 10px;
}
footer .footer-content__info--email {
  display: flex;
  margin-top: 20px;
}
footer .footer-content__info--email p {
  margin: 0;
  margin-left: 10px;
}
footer .footer-content__about-us {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  margin-bottom: 50px;
  font-size: 2rem;
}
footer .footer-content__about-us a {
  text-decoration: none;
}
footer .footer-content__contact-us {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  margin-bottom: 50px;
  font-size: 2rem;
}
footer .footer-content__contact-us a {
  text-decoration: none;
}
footer .footer-content__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-content__social a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid #f6f6fe;
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 50px;
  transition-duration: 0.3s;
}
footer .footer-content__social a:hover {
  background-color: #3065f8;
}
footer .footer-content__social a img {
  height: 20px;
}