html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: #3c9f8f 3px solid;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 10px;
}
header figure {
  height: 40%;
}
header figure img {
  height: 100%;
}
header nav a {
  text-decoration: none;
  margin-left: 5px;
  color: #070439;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 0 7%;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
}
.hero figure {
  width: 90vw;
}
.hero article h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
}
.hero-input {
  display: flex;
  flex-direction: column;
}
.hero-input input {
  height: 40px;
  color: #f6f6fe;
  margin-bottom: 20px;
}
.hero-input button {
  background-color: #3065f8;
  color: #f6f6fe;
  border: none;
  height: 40px;
  border-radius: 3px;
}