html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: #3c9f8f 3px solid;
}

body {
  margin: 0;
  overflow-x: hidden;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 10px;
}
header figure {
  height: 40%;
}
header figure img {
  height: 100%;
}
header nav a {
  text-decoration: none;
  margin-left: 5px;
  color: #070439;
}