$very-dark-blue: #070439
$desaturated-blue: #585989
$bright-blue: #3065f8
$moderate-cyan: #3c9f8f
$light-grayish-blue: 	#f6f6fe
$light-gray:	#bfbfbf
$font-family-heading: 'Raleway', sans-serif
$font-family-normal: 'Open Sans', sans-serif
$font-weight-heading-normal: 400
$font-weight-heading-bold: 700
$font-weight-body-normal: 400
$mobile-container-padding: 0 7%
$desktop-container-padding: 0 3%
$card-padding: 5%
$button-height: 40px
$margin-small: 20px
$margin-medium: 50px
$margin-large: 100px
$box-shadow: 1px 1px 9px 2px #0000001e
$border-radius: 4px
$margin-desktop-footer: 3%