@import './_tokens.sass'

@media screen and (min-width: 1000px)
	body
		font-size: 1.9rem

	.hero
		flex-direction: row-reverse
		padding-bottom: 200px
		background-image: url('../images/bg-curve-desktop.svg')
		text-align: start
		article
			h1
				line-height: 160%
				font-size: 3rem
		&-input
			padding: 0
			flex-direction: row
			input
				width: 50%
				margin-right: 10px
			button
				width: 40%

	.description
		display: flex
		flex-direction: row-reverse
		justify-content: center
		&__figure
			max-width: 500px
			width: 30%
		&-text
			margin: 0
			width: 100%
			max-width: 1000px
			text-align: start
			h2
				font-size: 3rem
		&-card
			margin: 0

	.register
		display: flex
		padding: 50px 3%
		article
			max-width: 1000px
			width: 50%
			text-align: start
			h4
				font-size: 3rem
		div
			max-width: 1000px
			display: flex
			justify-content: center
			align-items: start
			width: 45%
			padding-left: 5%
			input
				width: 100%
			button
				width: 40%

	footer
		.footer-content
			margin-top: 50px
			display: flex
			justify-content: space-between
			&__info
				margin-right: $margin-desktop-footer
				align-items: flex-start
			&__about-us
				margin-right: $margin-desktop-footer
				align-items: flex-start
			&__contact-us
				margin-right: $margin-desktop-footer
				align-items: flex-start
			&__social
				margin-right: $margin-desktop-footer
				align-items: flex-start
				margin-right: 0