@import './_tokens'

html
	box-sizing: border-box
	font-family: $font-family-normal
	font-size: 62.5%
*, *:before, *:after
	box-sizing: inherit
*:focus
	outline: $moderate-cyan 3px solid
body
	margin: 0
	overflow-x: hidden
	font-size: 1.6rem
figure
	margin: 0
img
	max-width: 100%
h1,h2,h3,h4,h5,h6
	font-family: $font-family-heading

header
	display: flex
	align-items: center
	justify-content: space-between
	height: 80px
	padding: 0 10px
	figure
		height: 40%
		img
			height: 100%
	nav
		a
			text-decoration: none
			margin-left: 5px
			color: $very-dark-blue

.hero
	display: flex
	flex-direction: column
	padding: $mobile-container-padding
	text-align: center
	padding-bottom: $margin-large
	margin-top: $margin-medium
	background-image: url('../images/bg-curve-mobile.svg')
	background-repeat: no-repeat
	background-position: bottom
	background-size: 100% auto
	figure
		width: 90vw
	article
		h1
			font-family: $font-family-normal
			font-size: 2.2rem
			font-weight: $font-weight-heading-bold
	&-input
		display: flex
		flex-direction: column
		input
			height: $button-height
			color: $light-grayish-blue
			margin-bottom: $margin-small
		button
			background-color: $bright-blue
			color: $light-grayish-blue
			border: none
			height: $button-height
			border-radius: 3px

.description
	padding: $mobile-container-padding
	background-color: #f6f6f6
	text-align: center
	figure
		width: 90vw
	&-text
		p
			color: $desaturated-blue
			text-align: start
	button
		display: flex
		align-items: center
		margin: 0 auto
		padding-bottom: 4px
		cursor: pointer
		border: none
		border-bottom: 1px solid $moderate-cyan
		background-color: $light-grayish-blue
		color: $moderate-cyan
		span
			margin-left: 7px